<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>

<div th:replace="fragments/header :: header" id="header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="display-3">This is a list of products</h1>
    <a th:href="@{/product/create}" type="button" class="btn btn-primary">Add new product</a>
<!--    <h2 style="color: green">The total number of product is <span style="color: red" th:text="${students.length}"></span></h2>-->
    <table class="table table-hover mt-3">
        <thead>
            <tr class="table-primary">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.name}"/>
            <td th:text="${product.price}"/>
            <td>
                <span th:if="${product.quantity} == 0">Out of stock</span>
                <span th:if="${product.quantity} > 0">In stock</span>
            </td>
            <td th:text="${product.category.name}"/>
            <td>
                <a th:href="@{/product/edit/{productId}(productId=${product.id})}" class="btn btn-warning">Edit</a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" th:attr="onclick=|setProductIdToDelete('${product.id}')|" >Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage} > 0">
                <a class="page-link" th:href="@{/product/list(page=${currentPage - 1}, size=${size})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active' : ''">
                <a class="page-link" th:href="@{/product/list(page=${i}, size=${size})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:if="${currentPage} < ${totalPages} - 1">
                <a class="page-link" th:href="@{/product/list(page=${currentPage + 1}, size=${size})}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="C
                    lose"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this product?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteProductBtn" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
    function setProductIdToDelete(productId) {
        document.getElementById("deleteProductBtn").href = ("/product/delete/" + productId);
    }
</script>

</body>
</html>